:root {
  --koru-green: #003932;
  --koru-rose: #FF3855;
  --gold: #FFC239;
  --silver: #737373;
  --bronze: #F78B41;
  --text: #1E1E1E;
  --secondary: #4B4B4B;
  --mid-grey: #D6D6D6;
  --grey: #F5F5F5;
  --error: #C00000;
  --success: #00C29C;
}

select,
.select-dropdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.482843 0.400024C0.304662 0.400024 0.215428 0.615453 0.341421 0.741446L3.85858 4.2586C3.93668 4.33671 4.06332 4.33671 4.14142 4.2586L7.65858 0.741445C7.78457 0.615453 7.69534 0.400024 7.51716 0.400024H0.482843Z' fill='black'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 12px);
  background-position-y: 50%;
  background-color: white;
  height: 48px !important;
  border: 1px solid #C4C4C4;
  border-radius: 3px;
  color: #737373;
}

select:focus {
  color: #737373;
  box-shadow: none !important;
  background-color: white;
  border-color: var(--koru-green) !important;
}

.text-green {
  color: var(--koru-green);
}

.Gold {
  color: var(--gold);
}

.Silver {
  color: var(--silver);
}

.Bronze {
  color: var(--bronze);
}

.arrow {
  padding-right: 4px;
}

.arrow.up {
  color: var(--success);
}

.arrow.down {
  color: var(--koru-rose);
}

.mobile-table {}

.desktop-table {
  display: none;
}

.main-container {
  font-family: 'Circular Std', sans-serif;
  padding-left: 0;
  padding-right: 0;
  max-width: 640px;
}

.main-title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 26px;
}

.visibility-hidden {
  visibility: hidden;
}

.banner {
  color: white;
  background-color: var(--koru-green);
  padding: 51px 16px 36px 16px;
  text-align: center;
}

.logo-img {
  margin-bottom: 24px;
}

.btn-round {
  background-color: var(--koru-rose);
  border-radius: 26px;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  padding: 8px 18px;
  position: relative;
}

.rate-btn .btn-round {
  padding: 8px 18px 8px 45px;
}

.rate-btn .btn-round::before {
  content: '';
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='33' viewBox='0 0 32 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.8385 6.30542C10.0852 6.30542 5.40466 10.9864 5.40466 16.7393C5.40466 22.4926 10.0852 27.1728 15.8385 27.1728C21.5918 27.1728 26.272 22.4926 26.272 16.7393C26.272 10.9864 21.5918 6.30542 15.8385 6.30542ZM15.8385 25.6751C10.9113 25.6751 6.90234 21.6665 6.90234 16.7389C6.90234 11.8113 10.9109 7.80272 15.8385 7.80272C20.7662 7.80272 24.7747 11.8113 24.7747 16.7389C24.7747 21.6665 20.7658 25.6751 15.8385 25.6751Z' fill='white'/%3E%3Cpath d='M21.2502 15.9878H16.5875V11.3251C16.5875 10.9117 16.2522 10.5764 15.8385 10.5764C15.4247 10.5764 15.0895 10.9113 15.0895 11.3251V15.9878H10.4268C10.0134 15.9878 9.67773 16.323 9.67773 16.7372C9.67773 17.1506 10.013 17.4858 10.4268 17.4858H15.0895V22.1485C15.0895 22.5623 15.4243 22.8979 15.8385 22.8979C16.2519 22.8979 16.5875 22.5626 16.5875 22.1485V17.4858H21.2502C21.6636 17.4858 21.9992 17.1509 21.9992 16.7372C21.9988 16.3234 21.6636 15.9878 21.2502 15.9878Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  left: 4px;
  top: 0;
  width: 32px;
  height: 33px;
  background-size: 32px 33px;
}

.btn-round:hover {
  color: white;
}

.btn-round:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgb(255 56 85 / 25%)
}

.btn-round-light {
  background: rgba(255, 56, 85, 0.03);
  color: var(--koru-rose);
}

.btn-round-light:hover {
  color: var(--koru-rose);
}

.sort-dropdown {
  width: 100%;
  display: flex;
}

.sort-dropdown .choices {
  width: 100%;
}

.dropdown-and-search {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 16px;
  background-color: var(--grey);
}

.dropdown {
  margin-top: 12px;
  width: 180px;
}

.autoComplete_wrapper {
  width: 100%;
}

.autoComplete_wrapper>input {
  width: 100%;
}

.autoComplete_wrapper>ul>li mark {
  padding: 0px;
  color: var(--koru-rose);
}

.text-input {
  height: 41px;
  border: 1px solid var(--mid-grey);
  border-radius: 3px;
  font-weight: 400;
  font-size: 16px;
  padding-right: 42px;
  color: vaR(--text);
  width: 100%;
}

.text-input:focus {
  outline: none;
  box-shadow: none;
  border-color: var(--koru-green);
}

.invalid-text {
  color: var(--error);
  visibility: hidden;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  margin-top: 5px;
}

.show-error .invalid-text {
  visibility: visible;
}

.form-invalid .text-input {
  border-color: var(--error);
}

.form-invalid .select-dropdown {
  border-color: var(--error);
}

.text-input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #949494;
}

.search {
  margin-top: 12px;
  width: 100%;
  position: relative;
}

.search::after {
  content: '';
  width: 36px;
  height: 36px;
  top: 3px;
  right: 8px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 36px 36px;
  z-index: 1;
  background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.511 25.0957C17.2332 25.0957 18.8473 24.6281 20.2371 23.816L25.1733 28.7572C25.6274 29.2118 26.2315 29.4626 26.874 29.463C26.8745 29.463 26.8749 29.463 26.8749 29.463C27.5174 29.463 28.1219 29.2127 28.5753 28.7585C29.0303 28.3043 29.281 27.7002 29.2814 27.0577C29.2819 26.4147 29.0315 25.8102 28.5769 25.3556L23.6382 20.4115C24.4466 19.0242 24.912 17.4134 24.912 15.6947C24.912 10.5107 20.695 6.29321 15.511 6.29321C10.327 6.29321 6.11 10.5107 6.11 15.6947C6.11 20.8782 10.327 25.0957 15.511 25.0957ZM27.3852 26.5466C27.5216 26.6826 27.597 26.8639 27.5966 27.0568C27.5966 27.2494 27.5212 27.4307 27.3843 27.5671C27.2487 27.7032 27.0674 27.7781 26.8749 27.7781C26.6823 27.7781 26.5011 27.7027 26.365 27.5663L21.6277 22.8247C21.9931 22.5108 22.3343 22.1696 22.6478 21.8038L27.3852 26.5466ZM15.511 7.97852C19.7657 7.97852 23.2276 11.44 23.2276 15.6951C23.2276 17.3402 22.7081 18.8656 21.8269 20.1197L21.3958 20.5505L21.4548 20.6099C21.1475 20.9812 20.8055 21.3228 20.4351 21.6305L20.3752 21.5706L19.9344 22.0114C18.6807 22.8921 17.1557 23.4108 15.511 23.4108C11.2563 23.4108 7.79446 19.9494 7.79446 15.6947C7.79446 11.4395 11.2563 7.97852 15.511 7.97852Z' fill='%23737373'/%3E%3Cpath d='M15.511 21.7867C15.976 21.7867 16.3536 21.4099 16.3536 20.9444C16.3536 20.4789 15.9765 20.1018 15.511 20.1018C13.0806 20.1018 11.1035 18.1243 11.1035 15.6947C11.1035 15.2292 10.7267 14.8521 10.2608 14.8521C9.79576 14.8521 9.4186 15.2288 9.4186 15.6947C9.4186 19.054 12.1517 21.7867 15.511 21.7867Z' fill='%23737373'/%3E%3C/svg%3E%0A");
}

.choices {
  margin-bottom: 0px;
}

.choices__inner {
  background: #FFFFFF;
  border: 1px solid var(--mid-grey);
  border-radius: 3px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--text);
  display: flex;
  align-items: center;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  height: 41px !important;
  min-height: auto;
}

.choices[data-type*="select-one"]:after {
  border-color: transparent;
  border-width: 0px;
  margin-top: 0px;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 7L6 2L1 7' stroke='%23737373' stroke-width='2'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 12px 8px;
  background-position: center;
  right: 0px;
  top: 0px;
  width: 40px;
  height: 100%;
  margin-top: 2px;
  transform: rotate(180deg);
  margin-top: 0px !important;
  border-radius: 3px;
  transform-origin: center;
}

.choices.is-open:after {
  transform: rotate(0deg);
  margin-top: 0px !important;
}

.choices.is-open .choices__inner {
  border-radius: 3px;
}

.choices__list--dropdown {
  margin-top: 8px;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  border-radius: 3px;
}

.choices__list--dropdown .choices__item--selectable {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--text);
  padding: 10px;
  padding-left: 47px;
}

.choices__list--single {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.choices__list--single .choices__item {
  padding-left: 36px;
}

.choices__list--single .choices__item:before {
  content: "";
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 18px;
  top: calc(50% - 9px);
}

.choices__list .choices__item--choice:before {
  content: "";
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 18px;
  top: calc(50% - 9px);
}

.choices__list--single .choices__item[data-value="Gold"]:before,
.choices__list .choices__item--choice[data-value="Gold"]:before {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.90357 14.1L4.25357 16.9C4.12024 16.9833 3.97857 17.0208 3.82857 17.0125C3.67857 17.0042 3.54524 16.9583 3.42857 16.875C3.3119 16.7917 3.2244 16.6833 3.16607 16.55C3.10774 16.4167 3.09524 16.2667 3.12857 16.1L4.35357 10.8L0.253571 7.225C0.120238 7.10833 0.0410714 6.97917 0.0160714 6.8375C-0.00892859 6.69583 -0.00476188 6.55833 0.0285715 6.425C0.0619048 6.29167 0.136905 6.17917 0.253571 6.0875C0.370238 5.99583 0.511905 5.94167 0.678572 5.925L6.10357 5.45L8.20357 0.45C8.27024 0.3 8.37024 0.1875 8.50357 0.1125C8.6369 0.0374997 8.77024 0 8.90357 0C9.0369 0 9.17024 0.0374997 9.30357 0.1125C9.4369 0.1875 9.5369 0.3 9.60357 0.45L11.7036 5.45L17.1286 5.925C17.2952 5.94167 17.4369 5.99583 17.5536 6.0875C17.6702 6.17917 17.7452 6.29167 17.7786 6.425C17.8119 6.55833 17.8161 6.69583 17.7911 6.8375C17.7661 6.97917 17.6869 7.10833 17.5536 7.225L13.4536 10.8L14.6786 16.1C14.7119 16.2667 14.6994 16.4167 14.6411 16.55C14.5827 16.6833 14.4952 16.7917 14.3786 16.875C14.2619 16.9583 14.1286 17.0042 13.9786 17.0125C13.8286 17.0208 13.6869 16.9833 13.5536 16.9L8.90357 14.1Z' fill='%23FFC239'/%3E%3C/svg%3E%0A");
}

.choices__list--single .choices__item[data-value="Silver"]:before,
.choices__list .choices__item--choice[data-value="Silver"]:before {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.90357 14.1L4.25357 16.9C4.12024 16.9833 3.97857 17.0208 3.82857 17.0125C3.67857 17.0042 3.54524 16.9583 3.42857 16.875C3.3119 16.7917 3.2244 16.6833 3.16607 16.55C3.10774 16.4167 3.09524 16.2667 3.12857 16.1L4.35357 10.8L0.253571 7.225C0.120238 7.10833 0.0410714 6.97917 0.0160714 6.8375C-0.00892859 6.69583 -0.00476188 6.55833 0.0285715 6.425C0.0619048 6.29167 0.136905 6.17917 0.253571 6.0875C0.370238 5.99583 0.511905 5.94167 0.678572 5.925L6.10357 5.45L8.20357 0.45C8.27024 0.3 8.37024 0.1875 8.50357 0.1125C8.6369 0.0374997 8.77024 0 8.90357 0C9.0369 0 9.17024 0.0374997 9.30357 0.1125C9.4369 0.1875 9.5369 0.3 9.60357 0.45L11.7036 5.45L17.1286 5.925C17.2952 5.94167 17.4369 5.99583 17.5536 6.0875C17.6702 6.17917 17.7452 6.29167 17.7786 6.425C17.8119 6.55833 17.8161 6.69583 17.7911 6.8375C17.7661 6.97917 17.6869 7.10833 17.5536 7.225L13.4536 10.8L14.6786 16.1C14.7119 16.2667 14.6994 16.4167 14.6411 16.55C14.5827 16.6833 14.4952 16.7917 14.3786 16.875C14.2619 16.9583 14.1286 17.0042 13.9786 17.0125C13.8286 17.0208 13.6869 16.9833 13.5536 16.9L8.90357 14.1Z' fill='%23737373'/%3E%3C/svg%3E%0A");
}

.choices__list--single .choices__item[data-value="Bronze"]:before,
.choices__list .choices__item--choice[data-value="Bronze"]:before {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.90357 14.1L4.25357 16.9C4.12024 16.9833 3.97857 17.0208 3.82857 17.0125C3.67857 17.0042 3.54524 16.9583 3.42857 16.875C3.3119 16.7917 3.2244 16.6833 3.16607 16.55C3.10774 16.4167 3.09524 16.2667 3.12857 16.1L4.35357 10.8L0.253571 7.225C0.120238 7.10833 0.0410714 6.97917 0.0160714 6.8375C-0.00892859 6.69583 -0.00476188 6.55833 0.0285715 6.425C0.0619048 6.29167 0.136905 6.17917 0.253571 6.0875C0.370238 5.99583 0.511905 5.94167 0.678572 5.925L6.10357 5.45L8.20357 0.45C8.27024 0.3 8.37024 0.1875 8.50357 0.1125C8.6369 0.0374997 8.77024 0 8.90357 0C9.0369 0 9.17024 0.0374997 9.30357 0.1125C9.4369 0.1875 9.5369 0.3 9.60357 0.45L11.7036 5.45L17.1286 5.925C17.2952 5.94167 17.4369 5.99583 17.5536 6.0875C17.6702 6.17917 17.7452 6.29167 17.7786 6.425C17.8119 6.55833 17.8161 6.69583 17.7911 6.8375C17.7661 6.97917 17.6869 7.10833 17.5536 7.225L13.4536 10.8L14.6786 16.1C14.7119 16.2667 14.6994 16.4167 14.6411 16.55C14.5827 16.6833 14.4952 16.7917 14.3786 16.875C14.2619 16.9583 14.1286 17.0042 13.9786 17.0125C13.8286 17.0208 13.6869 16.9833 13.5536 16.9L8.90357 14.1Z' fill='%23F78B41'/%3E%3C/svg%3E%0A");
}

.choices__list--single .choices__item[data-value="all"]:before,
.choices__list .choices__item--choice[data-value="all"]:before {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.90357 14.1L4.25357 16.9C4.12024 16.9833 3.97857 17.0208 3.82857 17.0125C3.67857 17.0042 3.54524 16.9583 3.42857 16.875C3.3119 16.7917 3.2244 16.6833 3.16607 16.55C3.10774 16.4167 3.09524 16.2667 3.12857 16.1L4.35357 10.8L0.253571 7.225C0.120238 7.10833 0.0410714 6.97917 0.0160714 6.8375C-0.00892859 6.69583 -0.00476188 6.55833 0.0285715 6.425C0.0619048 6.29167 0.136905 6.17917 0.253571 6.0875C0.370238 5.99583 0.511905 5.94167 0.678572 5.925L6.10357 5.45L8.20357 0.45C8.27024 0.3 8.37024 0.1875 8.50357 0.1125C8.6369 0.0374997 8.77024 0 8.90357 0C9.0369 0 9.17024 0.0374997 9.30357 0.1125C9.4369 0.1875 9.5369 0.3 9.60357 0.45L11.7036 5.45L17.1286 5.925C17.2952 5.94167 17.4369 5.99583 17.5536 6.0875C17.6702 6.17917 17.7452 6.29167 17.7786 6.425C17.8119 6.55833 17.8161 6.69583 17.7911 6.8375C17.7661 6.97917 17.6869 7.10833 17.5536 7.225L13.4536 10.8L14.6786 16.1C14.7119 16.2667 14.6994 16.4167 14.6411 16.55C14.5827 16.6833 14.4952 16.7917 14.3786 16.875C14.2619 16.9583 14.1286 17.0042 13.9786 17.0125C13.8286 17.0208 13.6869 16.9833 13.5536 16.9L8.90357 14.1Z' fill='%23003932'/%3E%3C/svg%3E%0A");
}

.score-dropdown .choices__list .choices__item--choice.is-selected:before {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.90357 14.1L4.25357 16.9C4.12024 16.9833 3.97857 17.0208 3.82857 17.0125C3.67857 17.0042 3.54524 16.9583 3.42857 16.875C3.3119 16.7917 3.2244 16.6833 3.16607 16.55C3.10774 16.4167 3.09524 16.2667 3.12857 16.1L4.35357 10.8L0.253571 7.225C0.120238 7.10833 0.0410714 6.97917 0.0160714 6.8375C-0.00892859 6.69583 -0.00476188 6.55833 0.0285715 6.425C0.0619048 6.29167 0.136905 6.17917 0.253571 6.0875C0.370238 5.99583 0.511905 5.94167 0.678572 5.925L6.10357 5.45L8.20357 0.45C8.27024 0.3 8.37024 0.1875 8.50357 0.1125C8.6369 0.0374997 8.77024 0 8.90357 0C9.0369 0 9.17024 0.0374997 9.30357 0.1125C9.4369 0.1875 9.5369 0.3 9.60357 0.45L11.7036 5.45L17.1286 5.925C17.2952 5.94167 17.4369 5.99583 17.5536 6.0875C17.6702 6.17917 17.7452 6.29167 17.7786 6.425C17.8119 6.55833 17.8161 6.69583 17.7911 6.8375C17.7661 6.97917 17.6869 7.10833 17.5536 7.225L13.4536 10.8L14.6786 16.1C14.7119 16.2667 14.6994 16.4167 14.6411 16.55C14.5827 16.6833 14.4952 16.7917 14.3786 16.875C14.2619 16.9583 14.1286 17.0042 13.9786 17.0125C13.8286 17.0208 13.6869 16.9833 13.5536 16.9L8.90357 14.1Z' fill='%23D6D6D6'/%3E%3C/svg%3E%0A");
}

.choices__list--single .choices__item[data-value="Paternity League ranking"]:before,
.choices__list .choices__item--choice[data-value="Paternity League ranking"]:before {
  background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.8929 2.88H15.8294V1.51165C15.8294 1.39058 15.7859 1.27461 15.7085 1.18902C15.6312 1.10358 15.5261 1.05554 15.4167 1.05554H3.86102C3.63317 1.05554 3.44836 1.25965 3.44836 1.51164V2.87999H1.38484C1.15683 2.87999 0.972168 3.08426 0.972168 3.33625V6.98548V6.98532C0.972168 8.07411 1.36354 9.1184 2.06005 9.88822C2.75656 10.658 3.7014 11.0906 4.68651 11.0906H5.8255C6.31577 11.6835 6.87023 12.2076 7.47635 12.6507L6.86547 14.7398H5.34676C5.18209 14.7392 5.03297 14.8467 4.96703 15.0135L3.89397 17.7503H3.89411C3.83826 17.8915 3.85078 18.0545 3.92736 18.1833C4.00394 18.312 4.1342 18.3895 4.27368 18.3889H15.004C15.1435 18.3895 15.2737 18.312 15.3503 18.1833C15.4269 18.0545 15.4394 17.8916 15.3836 17.7503L14.3105 15.0135H14.3106C14.2447 14.8467 14.0956 14.7392 13.9309 14.7398H12.4122L11.7849 12.6507H11.7848C12.391 12.2076 12.9454 11.6835 13.4356 11.0906H14.5912C15.5763 11.0906 16.5211 10.658 17.2176 9.88822C17.9141 9.1184 18.3055 8.07411 18.3055 6.98532V3.3361V3.33625C18.3055 3.21519 18.262 3.09921 18.1846 3.01362C18.1073 2.92803 18.0022 2.87999 17.8928 2.87999L17.8929 2.88ZM1.79747 6.98528V3.79237H3.44833V4.4036C3.4525 6.47815 4.04741 8.49829 5.14871 10.1783H4.68651C3.92032 10.1783 3.18552 9.84181 2.6437 9.24298C2.10192 8.64417 1.79747 7.832 1.79747 6.98516V6.98528ZM14.3768 17.4766H4.90123L5.61934 15.6519H13.659L14.3768 17.4766ZM11.0751 12.0668H11.0753C10.9073 12.1762 10.8316 12.4007 10.8936 12.605L11.5457 14.7398H7.73257L8.40104 12.605C8.46323 12.4007 8.38751 12.1763 8.21953 12.0668C7.02151 11.2718 6.02907 10.1491 5.33801 8.80672C4.64681 7.46448 4.28049 5.94805 4.27401 4.40372V1.96788H15.0043V4.40372C14.9996 5.94642 14.6357 7.46175 13.9475 8.80386C13.2595 10.1459 12.2703 11.2698 11.0753 12.067L11.0751 12.0668ZM17.4805 6.98528C17.4805 7.83212 17.1761 8.64426 16.6343 9.24311C16.0925 9.84192 15.3577 10.1784 14.5915 10.1784H14.1293C15.2306 8.49841 15.8255 6.47815 15.8297 4.40372V3.79249H17.4805V6.98528Z' fill='%23003932' stroke='%23003932' stroke-width='0.3'/%3E%3C/svg%3E%0A");
}

.choices__list--single .choices__item[data-value="Leave offered ranking"]:before,
.choices__list .choices__item--choice[data-value="Leave offered ranking"]:before {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.9587 2.37412H13.1784V1.38763C13.1784 1.05175 12.906 0.779053 12.5698 0.779053C12.2339 0.779053 11.9615 1.05145 11.9615 1.38763V2.37412H6.55262V1.38763C6.55262 1.05175 6.28022 0.779053 5.94404 0.779053C5.60815 0.779053 5.33576 1.05145 5.33576 1.38763V2.37412H4.50618C2.44371 2.37412 0.765503 4.05233 0.765503 6.1148V13.9756C0.765503 16.038 2.44371 17.7162 4.50618 17.7162H13.9587C16.0212 17.7162 17.6994 16.038 17.6994 13.9756V6.1148C17.6994 4.05233 16.0212 2.37412 13.9587 2.37412ZM4.50618 3.59098H5.33576V4.79817C5.33576 5.13405 5.60815 5.40645 5.94404 5.40645C6.28022 5.40645 6.55262 5.13405 6.55262 4.79817V3.59098H11.9615V4.79817C11.9615 5.13405 12.2339 5.40645 12.5698 5.40645C12.906 5.40645 13.1784 5.13405 13.1784 4.79817V3.59098H13.9587C15.3503 3.59098 16.4825 4.72319 16.4825 6.1148V6.6998H1.98236V6.1148C1.98236 4.72289 3.11457 3.59098 4.50618 3.59098ZM13.9587 16.4994H4.50618C3.11457 16.4994 1.98236 15.3672 1.98236 13.9756V7.91666H16.4825V13.9756C16.4825 15.3672 15.3503 16.4994 13.9587 16.4994Z' fill='%23003932'/%3E%3C/svg%3E%0A");
}

.choices__list--single .choices__item[data-value="Rate of pay ranking"]:before,
.choices__list .choices__item--choice[data-value="Rate of pay ranking"]:before {
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='18' viewBox='0 0 17 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.67649 17.1789C13.0554 17.1789 16.6174 14.0184 16.6174 10.1332V7.83128C16.6174 7.80226 16.615 7.77414 16.611 7.74633C16.614 7.66893 16.6174 7.59184 16.6174 7.51384C16.6174 3.62865 13.0557 0.46814 8.67649 0.46814C4.29821 0.46814 0.736206 3.62865 0.736206 7.51384C0.736206 7.59184 0.739834 7.66893 0.742555 7.74633C0.738322 7.77414 0.736206 7.80256 0.736206 7.83128V10.1332C0.736206 14.0184 4.2979 17.1789 8.67649 17.1789ZM8.67649 1.6853C12.3842 1.6853 15.4002 4.29981 15.4002 7.51384C15.4002 10.7276 12.3839 13.3424 8.67649 13.3424C4.96937 13.3424 1.95276 10.7276 1.95276 7.51384C1.95246 4.29981 4.96937 1.6853 8.67649 1.6853ZM8.67649 14.5592C11.3814 14.5592 13.774 13.3524 15.2082 11.5142C14.4908 14.0637 11.8355 15.9623 8.67649 15.9623C5.51809 15.9623 2.86276 14.0637 2.14504 11.5142C3.57928 13.3524 5.97128 14.5592 8.67649 14.5592Z' fill='%23003932'/%3E%3Cpath d='M6.68115 11.0516H10.5028C10.81 11.0516 11.0591 10.8018 11.0591 10.495V10.4762C11.0591 10.1694 10.81 9.91965 10.5028 9.91965H7.88471C8.14924 9.56109 8.38899 9.05046 8.38899 8.37688C8.38899 8.28679 8.38294 8.20425 8.37417 8.12686H9.46406C9.77122 8.12686 10.0209 7.87714 10.0209 7.57028C10.0209 7.26342 9.77122 7.014 9.46406 7.014H8.08576C8.06097 6.95111 8.03557 6.89004 8.01018 6.83018C7.87443 6.50367 7.75622 6.2219 7.75622 5.86758C7.75622 5.20004 8.17676 4.76863 8.82736 4.76863C9.34887 4.76863 9.74129 5.08093 9.85194 5.584C9.90757 5.83493 10.1364 6.01693 10.397 6.01693C10.4372 6.01693 10.4768 6.01239 10.5152 6.00393L10.576 5.99032C10.8678 5.92532 11.0591 5.6357 11.0023 5.34486C10.7991 4.30728 9.94173 3.63672 8.81799 3.63672C7.48776 3.63672 6.55871 4.54642 6.55871 5.84883C6.55871 6.29597 6.67511 6.67479 6.80601 7.014H6.7658C6.45864 7.014 6.20952 7.26342 6.20952 7.57028C6.20952 7.87714 6.45864 8.12686 6.7658 8.12686H7.16971C7.18392 8.21423 7.19027 8.3016 7.19027 8.39623C7.19027 8.9643 6.8949 9.50516 6.37943 9.88095C6.22011 9.99704 6.12427 10.1857 6.12427 10.3849V10.495C6.12487 10.8018 6.37459 11.0516 6.68115 11.0516Z' fill='%23003932'/%3E%3C/svg%3E%0A");
}

.sort-dropdown .choices__list .choices__item--choice.is-selected[data-value="Paternity League ranking"]:before {
  background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.8929 2.88H15.8294V1.51165C15.8294 1.39058 15.7859 1.27461 15.7085 1.18902C15.6312 1.10358 15.5261 1.05554 15.4167 1.05554H3.86102C3.63317 1.05554 3.44836 1.25965 3.44836 1.51164V2.87999H1.38484C1.15683 2.87999 0.972168 3.08426 0.972168 3.33625V6.98548V6.98532C0.972168 8.07411 1.36354 9.1184 2.06005 9.88822C2.75656 10.658 3.7014 11.0906 4.68651 11.0906H5.8255C6.31577 11.6835 6.87023 12.2076 7.47635 12.6507L6.86547 14.7398H5.34676C5.18209 14.7392 5.03297 14.8467 4.96703 15.0135L3.89397 17.7503H3.89411C3.83826 17.8915 3.85078 18.0545 3.92736 18.1833C4.00394 18.312 4.1342 18.3895 4.27368 18.3889H15.004C15.1435 18.3895 15.2737 18.312 15.3503 18.1833C15.4269 18.0545 15.4394 17.8916 15.3836 17.7503L14.3105 15.0135H14.3106C14.2447 14.8467 14.0956 14.7392 13.9309 14.7398H12.4122L11.7849 12.6507H11.7848C12.391 12.2076 12.9454 11.6835 13.4356 11.0906H14.5912C15.5763 11.0906 16.5211 10.658 17.2176 9.88822C17.9141 9.1184 18.3055 8.07411 18.3055 6.98532V3.3361V3.33625C18.3055 3.21519 18.262 3.09921 18.1846 3.01362C18.1073 2.92803 18.0022 2.87999 17.8928 2.87999L17.8929 2.88ZM1.79747 6.98528V3.79237H3.44833V4.4036C3.4525 6.47815 4.04741 8.49829 5.14871 10.1783H4.68651C3.92032 10.1783 3.18552 9.84181 2.6437 9.24298C2.10192 8.64417 1.79747 7.832 1.79747 6.98516V6.98528ZM14.3768 17.4766H4.90123L5.61934 15.6519H13.659L14.3768 17.4766ZM11.0751 12.0668H11.0753C10.9073 12.1762 10.8316 12.4007 10.8936 12.605L11.5457 14.7398H7.73257L8.40104 12.605C8.46323 12.4007 8.38751 12.1763 8.21953 12.0668C7.02151 11.2718 6.02907 10.1491 5.33801 8.80672C4.64681 7.46448 4.28049 5.94805 4.27401 4.40372V1.96788H15.0043V4.40372C14.9996 5.94642 14.6357 7.46175 13.9475 8.80386C13.2595 10.1459 12.2703 11.2698 11.0753 12.067L11.0751 12.0668ZM17.4805 6.98528C17.4805 7.83212 17.1761 8.64426 16.6343 9.24311C16.0925 9.84192 15.3577 10.1784 14.5915 10.1784H14.1293C15.2306 8.49841 15.8255 6.47815 15.8297 4.40372V3.79249H17.4805V6.98528Z' fill='%23949494' stroke='%23949494' stroke-width='0.3'/%3E%3C/svg%3E%0A");
}

.sort-dropdown .choices__list .choices__item--choice.is-selected[data-value="Leave offered ranking"]:before {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.9587 2.37412H13.1784V1.38763C13.1784 1.05175 12.906 0.779053 12.5698 0.779053C12.2339 0.779053 11.9615 1.05145 11.9615 1.38763V2.37412H6.55262V1.38763C6.55262 1.05175 6.28022 0.779053 5.94404 0.779053C5.60815 0.779053 5.33576 1.05145 5.33576 1.38763V2.37412H4.50618C2.44371 2.37412 0.765503 4.05233 0.765503 6.1148V13.9756C0.765503 16.038 2.44371 17.7162 4.50618 17.7162H13.9587C16.0212 17.7162 17.6994 16.038 17.6994 13.9756V6.1148C17.6994 4.05233 16.0212 2.37412 13.9587 2.37412ZM4.50618 3.59098H5.33576V4.79817C5.33576 5.13405 5.60815 5.40645 5.94404 5.40645C6.28022 5.40645 6.55262 5.13405 6.55262 4.79817V3.59098H11.9615V4.79817C11.9615 5.13405 12.2339 5.40645 12.5698 5.40645C12.906 5.40645 13.1784 5.13405 13.1784 4.79817V3.59098H13.9587C15.3503 3.59098 16.4825 4.72319 16.4825 6.1148V6.6998H1.98236V6.1148C1.98236 4.72289 3.11457 3.59098 4.50618 3.59098ZM13.9587 16.4994H4.50618C3.11457 16.4994 1.98236 15.3672 1.98236 13.9756V7.91666H16.4825V13.9756C16.4825 15.3672 15.3503 16.4994 13.9587 16.4994Z' fill='%23949494'/%3E%3C/svg%3E%0A");
}

.sort-dropdown .choices__list .choices__item--choice.is-selected[data-value="Rate of pay ranking"]:before {
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='18' viewBox='0 0 17 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.67649 17.1789C13.0554 17.1789 16.6174 14.0184 16.6174 10.1332V7.83128C16.6174 7.80226 16.615 7.77414 16.611 7.74633C16.614 7.66893 16.6174 7.59184 16.6174 7.51384C16.6174 3.62865 13.0557 0.46814 8.67649 0.46814C4.29821 0.46814 0.736206 3.62865 0.736206 7.51384C0.736206 7.59184 0.739834 7.66893 0.742555 7.74633C0.738322 7.77414 0.736206 7.80256 0.736206 7.83128V10.1332C0.736206 14.0184 4.2979 17.1789 8.67649 17.1789ZM8.67649 1.6853C12.3842 1.6853 15.4002 4.29981 15.4002 7.51384C15.4002 10.7276 12.3839 13.3424 8.67649 13.3424C4.96937 13.3424 1.95276 10.7276 1.95276 7.51384C1.95246 4.29981 4.96937 1.6853 8.67649 1.6853ZM8.67649 14.5592C11.3814 14.5592 13.774 13.3524 15.2082 11.5142C14.4908 14.0637 11.8355 15.9623 8.67649 15.9623C5.51809 15.9623 2.86276 14.0637 2.14504 11.5142C3.57928 13.3524 5.97128 14.5592 8.67649 14.5592Z' fill='%23949494'/%3E%3Cpath d='M6.68115 11.0516H10.5028C10.81 11.0516 11.0591 10.8018 11.0591 10.495V10.4762C11.0591 10.1694 10.81 9.91965 10.5028 9.91965H7.88471C8.14924 9.56109 8.38899 9.05046 8.38899 8.37688C8.38899 8.28679 8.38294 8.20425 8.37417 8.12686H9.46406C9.77122 8.12686 10.0209 7.87714 10.0209 7.57028C10.0209 7.26342 9.77122 7.014 9.46406 7.014H8.08576C8.06097 6.95111 8.03557 6.89004 8.01018 6.83018C7.87443 6.50367 7.75622 6.2219 7.75622 5.86758C7.75622 5.20004 8.17676 4.76863 8.82736 4.76863C9.34887 4.76863 9.74129 5.08093 9.85194 5.584C9.90757 5.83493 10.1364 6.01693 10.397 6.01693C10.4372 6.01693 10.4768 6.01239 10.5152 6.00393L10.576 5.99032C10.8678 5.92532 11.0591 5.6357 11.0023 5.34486C10.7991 4.30728 9.94173 3.63672 8.81799 3.63672C7.48776 3.63672 6.55871 4.54642 6.55871 5.84883C6.55871 6.29597 6.67511 6.67479 6.80601 7.014H6.7658C6.45864 7.014 6.20952 7.26342 6.20952 7.57028C6.20952 7.87714 6.45864 8.12686 6.7658 8.12686H7.16971C7.18392 8.21423 7.19027 8.3016 7.19027 8.39623C7.19027 8.9643 6.8949 9.50516 6.37943 9.88095C6.22011 9.99704 6.12427 10.1857 6.12427 10.3849V10.495C6.12487 10.8018 6.37459 11.0516 6.68115 11.0516Z' fill='%23949494'/%3E%3C/svg%3E%0A");
}


.choices__list .choices__item--choice.is-selected {
  color: #D6D6D6;
  background-color: white;
}

/* Modal */
.close-btn {
  border: none;
  padding: 0px;
  appearance: none;
  background-color: transparent;
  position: absolute;
  top: 22px;
  right: 22px;
}

.modal-dialog {
  margin: 1.75rem auto;
  max-width: 300px;
}

.modal-content {
  position: relative;
  padding: 20px 20px 40px 20px;
}

.modal-row {
  padding: 5px 0px;
  width: 100%;
}

.modal-row.d-flex {
  flex-direction: column;
  margin-bottom: 10px;
}

.half-width {
  width: 70%;
}

.modal-row .text-input {
  width: 100%;
  padding: 14px 10px;
  height: 48px;
}

.form-label {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 3px;
}

.label-descr {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #737373;
  margin-bottom: 6px;
}

.text-input.small {
  width: 73px;
}

.extra-fields {
  padding-top: 14px;
  color: var(--koru-green);
  border-top: 1px solid #D6D6D6
}

.btn-sort {
  width: 41px;
  height: 41px;
  background: #EDEFEF;
  border: 1px solid #D6D6D6;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin-left: 18px;
}

.btn-sort .sort-asc {
  display: none;
}

.btn-sort.asc .sort-asc {
  display: block;
}

.btn-sort.asc .sort-desc {
  display: none;
}

.result-boxes {
  display: flex;
  flex-direction: column;
}

.result-box {
  text-align: center;
  width: 100%;
  padding: 12px;
  border-radius: 3px;
  color: var(--koru-green);
  margin-bottom: 10px;
}

.result-box .value {
  font-weight: 300;
  font-size: 32px;
  line-height: 38px;
  font-family: 'ATC Abernathy';
  margin-bottom: 8px;
}

.result-box .text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

[data-result="gold"] .result-box {
  background-color: #FFF9EB;
}

[data-result="silver"] .result-box {
  background-color: rgba(115, 115, 115, 0.1);
}

[data-result="bronze"] .result-box {
  background-color: rgba(247, 139, 65, 0.1);
}


[data-result="gold"] .result-logo-svg {
  color: var(--gold);
}

[data-result="silver"] .result-logo-svg {
  color: var(--silver);
}

[data-result="bronze"] .result-logo-svg {
  color: var(--bronze)
}


.btn-text {
  color: var(--koru-rose);
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  border-radius: 26px;
  margin-right: 4px;
}

.btn-text:focus {
  box-shadow: 0 0 0 0.2rem rgb(255 56 85 / 25%)
}

.btn-text:hover {
  color: var(--koru-rose);
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  margin-top: 40px;
}

.actions button {
  padding: 9px 15px;
  font-size: 14px;
  line-height: 18px;
  width: 180px;
}

.result-logo-svg {
  padding: 28px;
  text-align: center;
}

.page-1-title {
  padding: 0px 40px;
  margin-bottom: 20px;
}

.compare-btn {
  margin-top: 26px;
}

.hidden_mobile {
  display: none;
}

.social-net-list {
  margin: 0;
  padding: 0px;
  list-style-type: none;
}

.social-net-list li {
  padding: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #4B4B4B;
  cursor: pointer;
}

.social-net-list li img {
  margin-right: 10px;
}

.social-net-list li:hover {
  background-color: #fafafa;
}

.similar-results-btn {
  margin-bottom: 10px;
}

#share_image {
  padding: 20px;
  padding-bottom: 0px;
}

@media (min-width: 576px) {
  .hidden_mobile {
    display: initial;
  }

  .compare-btn {
    margin-top: 0px;
  }

  .result-box {
    width: calc(50% - 6px);
  }

  .result-box:last-child {
    margin-left: 12px;
  }

  .half-width {
    width: 50%;
  }

  .modal-row {
    padding: 7px 0px;
  }

  .extra-fields {
    padding-top: 14px;
  }

  .modal-row.d-flex {
    flex-direction: row;
    margin-bottom: 0px;
  }

  .page-1-title {
    padding: 0px;
  }

  .mobile-table {
    display: none;
  }

  .desktop-table {
    display: block;
  }

  .sort-dropdown {
    display: none;
  }

  .dropdown {
    margin-top: 0px;
  }

  .search {
    margin-top: 0px;
    width: 241px;
  }

  .main-container {
    border: 1px solid #EBEBEB;
  }

  .banner {
    padding: 32px 30px 22px 30px;
  }

  .dropdown-and-search {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 30px 30px 12px 30px;
  }

  .modal-content {
    position: relative;
    padding: 38px 38px 30px 38px;
  }

  .result-boxes {
    display: flex;
    flex-direction: row;
  }

  .close-btn {
    top: 34px;
    right: 34px;
  }

  .actions {
    align-items: center;
    flex-direction: row;
  }

  .action-btns {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 0px;
  }

  .action-btns button:last-child {
    margin-bottom: 0px;
  }

  .similar-results-btn {
    margin-bottom: 0px;
    margin-right: 20px;
  }

  .modal-dialog {
    max-width: 500px;
  }

  .actions button {
    width: initial;
  }
}